body{
    width: 100vw;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    height: fit-content;
    max-width: 100%;
}

.home{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(70, 60, 53);
}

.home>img{
    width: 100%;
    box-sizing: border-box;
}

.home-welcome{
    position: absolute;
    width: 100%;
    color: white;
    top: 20vw;
    box-sizing: border-box;
}

.welcome{
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
}

.name{
    font-weight: 600;
    font-size: 4.3vw;
    text-align: center;
}

.decor{
    font-size: 4.5vw;
    text-align: center;
}

.content{
    background-color: rgb(70, 60, 53);
}

.container-fluid{
    border: solid red;
    padding: 0;
}

.featurette{
    padding-top: 15vh;
    padding-bottom: 5vh;
    border: solid blue;
    margin: 0;
}

.featurette-heading{
    border: solid yellow;
    text-align: center;
    color: white;
    font-size: 1.6em;
    font-weight: 700;
}

.section-head{
    margin-top: 10vw;
}

.featurette div img{
    width: 100%;
}

.content-divider{
    width: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.where-container{
    background-color: white;
}

.where-start{
    text-align: center;
    padding-bottom: 5vw;
    color: rgb(70, 60, 53);
    font-weight: 600;
    font-size: 2em;
}

.map{
    text-align: center;
}

.author{
    background-origin: rgb(70, 60, 53) !important;
}